@model UserMVC.Models.User

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>User Login</title>
    </head>
    <body>
        <h2>@Model.Name</h2>
        <h2>@Model.Password</h2>
        <hr />
        <p>Enter your information: </p>
        <form asp-action="Index" method="post" asp-for="Index">
            <input type="text" asp-for="Name" /><br />
            <input type="password" asp-for="Password" /><br />
            <button type="submit">Submit</button>
        </form>
    </body>
    </html>