@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h1>Hello World </h1>
<p>Nostrud justo eros elitr option dolor vel gubergren praesent tincidunt vel kasd et sed augue ea et in lorem augue</p>

